*{
    border:0;
    margin:0;
}

body{
    width:100%;
    height:100vh;
    display:grid;
    place-items: center;

}

#frame{
    height:400px;
    width:700px;
    margin:auto;
    border:1px solid black;
    position:absolute;
    overflow:hidden;
}

#dino{
    height:50px;
    width:50px;
    background-image: url(./images/trex.png);
    background-size:50px;
    position: relative   ;
    top:355px;
    left:100px ;
    z-index:2; 
    background-color: transparent;
}

.jump-up{
    animation : jump-up 0.51s ease-out;
}
.jump-down{
    animation : jump-down 0.5s ease-out;
}

#cactus{
    height:40px;
    width:20px;
    background-image: url(./images/cactus.png);
    background-size: 25px ;
    position:absolute;
    top:365px;
    animation : cactus-slide 4s infinite linear;
}

@keyframes cactus-slide{
    from {right:-40px}
    to {right:740px} 
}

@keyframes jump-up{
    0% { top : 355px}
    100% { top : 255px}
}
@keyframes jump-down{
    0% { top : 255px}
    100% { top : 355 px}
}

#game-over-div{
    z-index:3;
    width:300px;
    height:150px;
    background-color:whitesmoke;
    flex-direction : column;
    align-items:center;
    display:none;
}

#game-over-img{
    background-image: url(./images/game-over.png);
    background-size : 100%;
    height : 80px;
    width:100px;
}
button{
    width : 100px;
    height: 50px;
}